<%= will_paginate @projects %>

<table id="projects">
  <thead>
    <th>Sector</th>
    <th>Country</th>
    <th>Description</th>
    <th>Practices</th>
    <th>Obstacles</th>
    <th>Contact role</th>
    <% if my_projects %>
      <th>Actions</th>
    <% else %>
      <th>Contact</th>
    <% end %>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr class="project">
        <td class="hidden-show-link">
          <%= link_to "Show", project_path(project), :class =>
          "show-link" %>
        </td>
        <td><%= project.sector %></td>
        <td><%= project.country_code %></td>
        <td><%= truncate project.description, :length => 150 %></td>
        <td><%= truncate project.practices, :length => 150 %></td>
        <td><%= truncate project.obstacles, :length => 150 %></td>
        <td><%= project.owner_role %></td>
        <td>
          <% if my_projects %>
            <%= link_to "Edit", edit_project_path(project) %>
            <%= link_to "Delete", my_project_path(project), :method =>
            :delete, :class => "delete-project", :confirm => "Are you sure?" %>
          <% else %>
            <%= link_to project.user.name, project.user.linkedin_public_profile %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
