<table id="projects">
<% @projects.each do |project| %>
  <tr class="project">
    <td><%= project.sector %></td>
    <td><%= project.country_code %></td>
    <td><%= project.practices %></td>
    <td><%= project.obstacles %></td>
    <td><%= project.owner_role %></td>
    <td>
      <% if my_projects %>
        <%= link_to "Edit", edit_project_path(project) %>
      <% else %>
        <%= link_to project.user.name, project.user.linkedin_public_profile %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>