<div id="form-fields">
  <div>
    <%= f.label :sector, "Sector" %>
    <%= f.text_field :sector %>
  </div>
  <div>
    <%= f.label :country_code, "Country" %>
    <%= f.country_select :country_code %>
  </div>
  <div>
    <%= f.label :owner_role, "Owner role" %>
    <%= f.text_field :owner_role %>
  </div>
  <div>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
  </siv>
  <div>
    <%= f.label :practices, "Practices" %>
    <%= f.text_area :practices %>
  </div>
  <div>
    <%= f.label :obstacles, "Obstacles" %>
    <%= f.text_area :obstacles %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div>
    <%= f.submit "Submit" %> | <%= link_to "Go back", :back %>
  </div>
</div>
