<ul id="form-fields">
  <li>
    <p class="label"><%= f.label :sector, "Sector" %></p>
    <p><%= f.text_field :sector %></p>
  </li>
  <li>
    <p class="label"><%= f.label :country_code, "Country" %></p>
    <p><%= f.country_select :country_code %></p>
  </li>
  <li>
    <p class="label"><%= f.label :owner_role, "Owner role" %></p>
    <p><%= f.text_field :owner_role %></p>
  </li>
  <li>
    <p class="label"><%= f.label :description, "Description" %></p>
    <p><%= f.text_area :description %></p>
  </li>
  <li>
    <p class="label"><%= f.label :practices, "Practices" %></p>
    <p><%= f.text_area :practices %></p>
  </li>
  <li>
    <p class="label"><%= f.label :obstacles, "Obstacles" %></p>
    <p><%= f.text_area :obstacles %></p>
  </li>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <li>
    <p><%= f.submit "Submit" %></p>
  </li>
</ul>